### European footbal players market value predictions

Data from https://www.kaggle.com/datasets/alessiasimone/european-soccer-dataset-season-20172020

##### Data preparation

In [1]:
import numpy as np
import pandas as pd
import sklearn
sklearn.__version__

'1.2.1'

In [2]:
raw_df = pd.read_csv(r'/content/european_football.csv', sep=';')
raw_df.head()

,player,age,height,nationality,position,value,games,minutes,goals,assists,...,LgRk,MP,W,D,L,GF,GA,Pts,CL,WinCL
0,Zouhair Feddal,30,192.0,Morocco,Defender,4000000,17,1431,1,2,...,15,38,10,11,17,48,60,41,No,No
1,Zlatan Ibrahimović,37,195.0,Sweden,Forward,3500000,18,1362,10,5,...,6,38,19,9,10,63,46,66,No,No
2,Zinedine Ferhat,26,180.0,Algeria,Forward,2000000,26,2246,3,4,...,18,28,7,6,15,29,44,27,No,No
3,Zinédine Ould Khaled,19,195.0,France,Midfield,15000,1,59,0,0,...,11,28,11,6,11,28,33,39,No,No
4,Zeki Celik,22,180.0,Turkey,Defender,20000000,23,2070,0,2,...,4,28,15,4,9,35,27,49,No,No

In [3]:
raw_df.columns

Index(['player', 'age', 'height', 'nationality', 'position', 'value', 'games',
       'minutes', 'goals', 'assists', 'crosses', 'tackles', 'pressures',
       'blocks', 'touches', 'fouls', 'fouled', 'offsides', 'own goals',
       'ball recoveries', 'saves', 'squad', 'Season', 'league', 'Attendance',
       'games starts', 'passes completed', 'sca', 'gca', 'dribbles completed',
       'pens won', 'goals against gk', 'shots on target against',
       'CLBestScorer', 'cards yellow', 'shots total', 'LgRk', 'MP', 'W', 'D',
       'L', 'GF', 'GA', 'Pts', 'CL', 'WinCL'],
      dtype='object')

In [4]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6824 entries, 0 to 6823
Data columns (total 46 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   player                   6824 non-null   object
 1   age                      6824 non-null   int64
 2   height                   6823 non-null   float64
 3   nationality              6824 non-null   object
 4   position                 6824 non-null   object
 5   value                    6824 non-null   int64
 6   games                    6824 non-null   int64
 7   minutes                  6824 non-null   int64
 8   goals                    6824 non-null   int64
 9   assists                  6824 non-null   int64
 10  crosses                  6824 non-null   int64
 11  tackles                  6824 non-null   int64
 12  pressures                6824 non-null   int64
 13  blocks                   6824 non-null   int64
 14  touches                  6824 non-null   int64
 15  fouls                    6824 non-null   int64
 16  fouled                   6824 non-null   int64
 17  offsides                 6824 non-null   int64
 18  own goals                6824 non-null   int64
 19  ball recoveries          6824 non-null   int64
 20  saves                    6824 non-null   int64
 21  squad                    6824 non-null   object
 22  Season                   6824 non-null   object
 23  league                   6824 non-null   object
 24  Attendance               6824 non-null   int64
 25  games starts             6824 non-null   int64
 26  passes completed         6824 non-null   int64
 27  sca                      6824 non-null   int64
 28  gca                      6824 non-null   int64
 29  dribbles completed       6824 non-null   int64
 30  pens won                 6824 non-null   int64
 31  goals against gk         6824 non-null   int64
 32  shots on target against  6824 non-null   int64
 33  CLBestScorer             6424 non-null   object
 34  cards yellow             6824 non-null   int64
 35  shots total              6824 non-null   int64
 36  LgRk                     6824 non-null   int64
 37  MP                       6824 non-null   int64
 38  W                        6824 non-null   int64
 39  D                        6824 non-null   int64
 40  L                        6824 non-null   int64
 41  GF                       6824 non-null   int64
 42  GA                       6824 non-null   int64
 43  Pts                      6824 non-null   int64
 44  CL                       6824 non-null   object
 45  WinCL                    6824 non-null   object
dtypes: float64(1), int64(36), object(9)
memory usage: 2.4+ MB

In [51]:
raw_df.shape

(6824, 46)

##### Deleting some columns

In [5]:
df = raw_df.drop(['Season', 'WinCL',  'LgRk', 'MP', 'W', 'D', 'L', 'GF', 'GA', 'Pts',
                  'Attendance','games starts', 'passes completed', 'sca', 'gca', 'dribbles completed',
                  'pens won', 'goals against gk', 'shots on target against',
                  'CLBestScorer', 'crosses', 'tackles', 'pressures', 'blocks', 'squad', 'Season'], axis=1)

In [6]:
df.head()

,player,age,height,nationality,position,value,games,minutes,goals,assists,...,fouls,fouled,offsides,own goals,ball recoveries,saves,league,cards yellow,shots total,CL
0,Zouhair Feddal,30,192.0,Morocco,Defender,4000000,17,1431,1,2,...,23,10,0,0,159,0,La Liga,10,9,No
1,Zlatan Ibrahimović,37,195.0,Sweden,Forward,3500000,18,1362,10,5,...,30,16,20,0,59,0,Serie A,1,63,No
2,Zinedine Ferhat,26,180.0,Algeria,Forward,2000000,26,2246,3,4,...,17,54,7,0,179,0,Ligue 1,1,45,No
3,Zinédine Ould Khaled,19,195.0,France,Midfield,15000,1,59,0,0,...,2,0,0,0,5,0,Ligue 1,0,0,No
4,Zeki Celik,22,180.0,Turkey,Defender,20000000,23,2070,0,2,...,38,11,4,1,232,0,Ligue 1,4,5,No

In [7]:
df.columns

Index(['player', 'age', 'height', 'nationality', 'position', 'value', 'games',
       'minutes', 'goals', 'assists', 'touches', 'fouls', 'fouled', 'offsides',
       'own goals', 'ball recoveries', 'saves', 'league', 'cards yellow',
       'shots total', 'CL'],
      dtype='object')

In [8]:
df.drop('player', inplace=True, axis=1)
df

,age,height,nationality,position,value,games,minutes,goals,assists,touches,fouls,fouled,offsides,own goals,ball recoveries,saves,league,cards yellow,shots total,CL
0,30,192.0,Morocco,Defender,4000000,17,1431,1,2,1236,23,10,0,0,159,0,La Liga,10,9,No
1,37,195.0,Sweden,Forward,3500000,18,1362,10,5,813,30,16,20,0,59,0,Serie A,1,63,No
2,26,180.0,Algeria,Forward,2000000,26,2246,3,4,1264,17,54,7,0,179,0,Ligue 1,1,45,No
3,19,195.0,France,Midfield,15000,1,59,0,0,38,2,0,0,0,5,0,Ligue 1,0,0,No
4,22,180.0,Turkey,Defender,20000000,23,2070,0,2,1613,38,11,4,1,232,0,Ligue 1,4,5,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6819,18,186.0,Niger,Forward,1000000,12,287,0,0,150,9,8,2,0,22,0,Bundesliga,0,8,No
6820,25,170.0,Switzerland,Forward,3500000,16,659,0,0,286,20,15,0,0,45,0,Bundesliga,3,5,No
6821,19,189.0,Germany,Defender,5000,3,270,0,0,172,3,0,0,0,22,0,Bundesliga,0,3,No
6822,33,178.0,Netherlands,Defender,1000000,31,2614,2,2,1915,20,33,0,0,252,0,Bundesliga,6,3,No
6823,22,182.0,Brazil,Defender,4000000,22,1612,0,2,1327,29,24,0,0,199,0,Bundesliga,5,7,No

In [9]:
df.drop('nationality', inplace=True, axis=1)
df

,age,height,position,value,games,minutes,goals,assists,touches,fouls,fouled,offsides,own goals,ball recoveries,saves,league,cards yellow,shots total,CL
0,30,192.0,Defender,4000000,17,1431,1,2,1236,23,10,0,0,159,0,La Liga,10,9,No
1,37,195.0,Forward,3500000,18,1362,10,5,813,30,16,20,0,59,0,Serie A,1,63,No
2,26,180.0,Forward,2000000,26,2246,3,4,1264,17,54,7,0,179,0,Ligue 1,1,45,No
3,19,195.0,Midfield,15000,1,59,0,0,38,2,0,0,0,5,0,Ligue 1,0,0,No
4,22,180.0,Defender,20000000,23,2070,0,2,1613,38,11,4,1,232,0,Ligue 1,4,5,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6819,18,186.0,Forward,1000000,12,287,0,0,150,9,8,2,0,22,0,Bundesliga,0,8,No
6820,25,170.0,Forward,3500000,16,659,0,0,286,20,15,0,0,45,0,Bundesliga,3,5,No
6821,19,189.0,Defender,5000,3,270,0,0,172,3,0,0,0,22,0,Bundesliga,0,3,No
6822,33,178.0,Defender,1000000,31,2614,2,2,1915,20,33,0,0,252,0,Bundesliga,6,3,No
6823,22,182.0,Defender,4000000,22,1612,0,2,1327,29,24,0,0,199,0,Bundesliga,5,7,No

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6824 entries, 0 to 6823
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              6824 non-null   int64
 1   height           6823 non-null   float64
 2   position         6824 non-null   object
 3   value            6824 non-null   int64
 4   games            6824 non-null   int64
 5   minutes          6824 non-null   int64
 6   goals            6824 non-null   int64
 7   assists          6824 non-null   int64
 8   touches          6824 non-null   int64
 9   fouls            6824 non-null   int64
 10  fouled           6824 non-null   int64
 11  offsides         6824 non-null   int64
 12  own goals        6824 non-null   int64
 13  ball recoveries  6824 non-null   int64
 14  saves            6824 non-null   int64
 15  league           6824 non-null   object
 16  cards yellow     6824 non-null   int64
 17  shots total      6824 non-null   int64
 18  CL               6824 non-null   object
dtypes: float64(1), int64(15), object(3)
memory usage: 1013.1+ KB

In [11]:
categorical_cols = [column for column in df.columns if df[column].dtype == 'object']
categorical_cols

['position', 'league', 'CL']

In [12]:
for col in categorical_cols:
  df[col] = df[col].astype('category')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6824 entries, 0 to 6823
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              6824 non-null   int64
 1   height           6823 non-null   float64
 2   position         6824 non-null   category
 3   value            6824 non-null   int64
 4   games            6824 non-null   int64
 5   minutes          6824 non-null   int64
 6   goals            6824 non-null   int64
 7   assists          6824 non-null   int64
 8   touches          6824 non-null   int64
 9   fouls            6824 non-null   int64
 10  fouled           6824 non-null   int64
 11  offsides         6824 non-null   int64
 12  own goals        6824 non-null   int64
 13  ball recoveries  6824 non-null   int64
 14  saves            6824 non-null   int64
 15  league           6824 non-null   category
 16  cards yellow     6824 non-null   int64
 17  shots total      6824 non-null   int64
 18  CL               6824 non-null   category
dtypes: category(3), float64(1), int64(15)
memory usage: 873.6 KB

In [13]:
df.isnull().sum()

age                0
height             1
position           0
value              0
games              0
minutes            0
goals              0
assists            0
touches            0
fouls              0
fouled             0
offsides           0
own goals          0
ball recoveries    0
saves              0
league             0
cards yellow       0
shots total        0
CL                 0
dtype: int64

In [14]:
df.dropna(axis=0, inplace=True)
df.isnull().sum()

age                0
height             0
position           0
value              0
games              0
minutes            0
goals              0
assists            0
touches            0
fouls              0
fouled             0
offsides           0
own goals          0
ball recoveries    0
saves              0
league             0
cards yellow       0
shots total        0
CL                 0
dtype: int64

In [15]:
numerical_cols = [column for column in df.columns if df[column].dtype in ['int64', 'float64']]
numerical_cols

['age',
 'height',
 'value',
 'games',
 'minutes',
 'goals',
 'assists',
 'touches',
 'fouls',
 'fouled',
 'offsides',
 'own goals',
 'ball recoveries',
 'saves',
 'cards yellow',
 'shots total']

In [16]:
df = pd.get_dummies(df, drop_first=True)
df

,age,height,value,games,minutes,goals,assists,touches,fouls,fouled,...,cards yellow,shots total,position_Forward,position_Goalkeeper,position_Midfield,league_La Liga,league_Ligue 1,league_Premier League,league_Serie A,CL_Yes
0,30,192.0,4000000,17,1431,1,2,1236,23,10,...,10,9,0,0,0,1,0,0,0,0
1,37,195.0,3500000,18,1362,10,5,813,30,16,...,1,63,1,0,0,0,0,0,1,0
2,26,180.0,2000000,26,2246,3,4,1264,17,54,...,1,45,1,0,0,0,1,0,0,0
3,19,195.0,15000,1,59,0,0,38,2,0,...,0,0,0,0,1,0,1,0,0,0
4,22,180.0,20000000,23,2070,0,2,1613,38,11,...,4,5,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6819,18,186.0,1000000,12,287,0,0,150,9,8,...,0,8,1,0,0,0,0,0,0,0
6820,25,170.0,3500000,16,659,0,0,286,20,15,...,3,5,1,0,0,0,0,0,0,0
6821,19,189.0,5000,3,270,0,0,172,3,0,...,0,3,0,0,0,0,0,0,0,0
6822,33,178.0,1000000,31,2614,2,2,1915,20,33,...,6,3,0,0,0,0,0,0,0,0
6823,22,182.0,4000000,22,1612,0,2,1327,29,24,...,5,7,0,0,0,0,0,0,0,0

##### Scaling numerical data

In [17]:
numerical_cols.remove('value')

for col in numerical_cols:
  df[col] = (df[col] - df[col].min())/(df[col].max() - df[col].min())

df

,age,height,value,games,minutes,goals,assists,touches,fouls,fouled,...,cards yellow,shots total,position_Forward,position_Goalkeeper,position_Midfield,league_La Liga,league_Ligue 1,league_Premier League,league_Serie A,CL_Yes
0,0.731707,0.945813,4000000,0.432432,0.418251,0.027778,0.095238,0.351136,0.252747,0.059880,...,0.588235,0.045918,0,0,0,1,0,0,0,0
1,0.902439,0.960591,3500000,0.459459,0.398070,0.277778,0.238095,0.230966,0.329670,0.095808,...,0.058824,0.321429,1,0,0,0,0,0,1,0
2,0.634146,0.886700,2000000,0.675676,0.656625,0.083333,0.190476,0.359091,0.186813,0.323353,...,0.058824,0.229592,1,0,0,0,1,0,0,0
3,0.463415,0.960591,15000,0.000000,0.016964,0.000000,0.000000,0.010795,0.021978,0.000000,...,0.000000,0.000000,0,0,1,0,1,0,0,0
4,0.536585,0.886700,20000000,0.594595,0.605148,0.000000,0.095238,0.458239,0.417582,0.065868,...,0.235294,0.025510,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6819,0.439024,0.916256,1000000,0.297297,0.083650,0.000000,0.000000,0.042614,0.098901,0.047904,...,0.000000,0.040816,1,0,0,0,0,0,0,0
6820,0.609756,0.837438,3500000,0.405405,0.192454,0.000000,0.000000,0.081250,0.219780,0.089820,...,0.176471,0.025510,1,0,0,0,0,0,0,0
6821,0.463415,0.931034,5000,0.054054,0.078678,0.000000,0.000000,0.048864,0.032967,0.000000,...,0.000000,0.015306,0,0,0,0,0,0,0,0
6822,0.804878,0.876847,1000000,0.810811,0.764259,0.055556,0.095238,0.544034,0.219780,0.197605,...,0.352941,0.015306,0,0,0,0,0,0,0,0
6823,0.536585,0.896552,4000000,0.567568,0.471190,0.000000,0.095238,0.376989,0.318681,0.143713,...,0.294118,0.035714,0,0,0,0,0,0,0,0

In [18]:
X = df.copy()

In [19]:
y = X.pop('value')
X.head()

,age,height,games,minutes,goals,assists,touches,fouls,fouled,offsides,...,cards yellow,shots total,position_Forward,position_Goalkeeper,position_Midfield,league_La Liga,league_Ligue 1,league_Premier League,league_Serie A,CL_Yes
0,0.731707,0.945813,0.432432,0.418251,0.027778,0.095238,0.351136,0.252747,0.059880,0.000000,...,0.588235,0.045918,0,0,0,1,0,0,0,0
1,0.902439,0.960591,0.459459,0.398070,0.277778,0.238095,0.230966,0.329670,0.095808,0.357143,...,0.058824,0.321429,1,0,0,0,0,0,1,0
2,0.634146,0.886700,0.675676,0.656625,0.083333,0.190476,0.359091,0.186813,0.323353,0.125000,...,0.058824,0.229592,1,0,0,0,1,0,0,0
3,0.463415,0.960591,0.000000,0.016964,0.000000,0.000000,0.010795,0.021978,0.000000,0.000000,...,0.000000,0.000000,0,0,1,0,1,0,0,0
4,0.536585,0.886700,0.594595,0.605148,0.000000,0.095238,0.458239,0.417582,0.065868,0.071429,...,0.235294,0.025510,0,0,0,0,1,0,0,0

In [20]:
y

0        4000000
1        3500000
2        2000000
3          15000
4       20000000
          ...
6819     1000000
6820     3500000
6821        5000
6822     1000000
6823     4000000
Name: value, Length: 6823, dtype: int64

In [21]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=23)

print('X_train shape: ', X_train.shape)
print('y_train shape: ', y_train.shape)
print('X_test shape: ', X_test.shape)
print('y_test shape: ', y_test.shape)

X_train shape:  (5458, 23)
y_train shape:  (5458,)
X_test shape:  (1365, 23)
y_test shape:  (1365,)

##### Linear regression

In [22]:
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [23]:
y_pred = regressor.predict(X_test)

In [24]:
predictions = pd.DataFrame(data={
    'y_true': y_test,
    'y_pred': y_pred
    })

predictions['error'] = predictions['y_true'] - predictions['y_pred']
predictions

        y_true        y_pred         error
4377   7000000  1.192838e+07 -4.928377e+06
3639   9000000  1.992997e+07 -1.092997e+07
2419   3000000 -4.211579e+06  7.211579e+06
4782   3000000  1.589676e+07 -1.289676e+07
5101   5000000  8.844447e+06 -3.844447e+06
...        ...           ...           ...
2475   4000000  7.280562e+06 -3.280562e+06
190      80000 -3.281444e+06  3.361444e+06
3808  20000000  8.195731e+06  1.180427e+07
258    1000000  1.185596e+07 -1.085596e+07
215    2000000  6.182325e+06 -4.182325e+06

[1365 rows x 3 columns]

In [25]:
from sklearn.metrics import max_error, mean_absolute_error, mean_squared_error

print('R2: ', regressor.score(X_test, y_test))
print('MAX: ', max_error(y_test, y_pred))
print('MAE: ', mean_absolute_error(y_test, y_pred))
print('MSE: ', mean_squared_error(y_test, y_pred))

R2:  0.6042485681200594
MAX:  80234292.49732646
MAE:  6527825.001146259
MSE:  105747665218950.8

###### Polynomial regression

In [26]:
from sklearn.preprocessing import PolynomialFeatures

poly = PolynomialFeatures(degree=2)

X_poly = poly.fit_transform(X)
X_poly

array([[1.        , 0.73170732, 0.94581281, ..., 0.        , 0.        ,
        0.        ],
       [1.        , 0.90243902, 0.96059113, ..., 1.        , 0.        ,
        0.        ],
       [1.        , 0.63414634, 0.88669951, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [1.        , 0.46341463, 0.93103448, ..., 0.        , 0.        ,
        0.        ],
       [1.        , 0.80487805, 0.87684729, ..., 0.        , 0.        ,
        0.        ],
       [1.        , 0.53658537, 0.89655172, ..., 0.        , 0.        ,
        0.        ]])

In [27]:
X.shape

(6823, 23)

In [28]:
X_poly.shape

(6823, 300)

In [29]:
X_train_p, X_test_p, y_train_p, y_test_p = train_test_split(X_poly, y, test_size = 0.2, random_state=23)

In [30]:
poly_regressor = LinearRegression()
poly_regressor.fit(X_train_p, y_train_p)

In [35]:
y_pred_p = poly_regressor.predict(X_test_p)

In [36]:
pd.set_option('display.float_format', lambda x: '%.1f' % x)

predictions['y_pred_poly'] = y_pred_p
predictions['error_poly'] = predictions['y_true'] - predictions['y_pred_poly']
predictions

        y_true     y_pred       error  y_pred_poly  error_poly
4377   7000000 11928377.4  -4928377.4    6450928.8    549071.2
3639   9000000 19929971.3 -10929971.3   12325536.5  -3325536.5
2419   3000000 -4211579.3   7211579.3    2541607.6    458392.4
4782   3000000 15896759.3 -12896759.3   19080277.4 -16080277.4
5101   5000000  8844446.8  -3844446.8    3446390.4   1553609.6
...        ...        ...         ...          ...         ...
2475   4000000  7280562.4  -3280562.4    1587332.6   2412667.4
190      80000 -3281444.0   3361444.0    3523872.1  -3443872.1
3808  20000000  8195730.9  11804269.1   12329372.0   7670628.0
258    1000000 11855960.6 -10855960.6    -140399.2   1140399.2
215    2000000  6182325.2  -4182325.2    3969497.1  -1969497.1

[1365 rows x 5 columns]

In [37]:
print('R2: ', poly_regressor.score(X_test_p, y_test_p))
print('MAX: ', max_error(y_test_p, y_pred_p))
print('MAE: ', mean_absolute_error(y_test_p, y_pred_p))
print('MSE: ', mean_squared_error(y_test_p, y_pred_p))

R2:  0.7178718402530997
MAX:  66173945.55100875
MAE:  5321194.057468097
MSE:  75386699282505.1

It will be good to know most uderrated and overrated player...

##### Decison tree

In [41]:
from sklearn.tree import DecisionTreeRegressor

dt_regressor = DecisionTreeRegressor(max_depth=1)
dt_regressor.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=1)

In [42]:
print('R2: ', dt_regressor.score(X_test, y_test))

R2:  0.21326505189491618

In [43]:
dt_regressor = DecisionTreeRegressor(max_depth=5)
dt_regressor.fit(X_train, y_train)
print('R2: ', dt_regressor.score(X_test, y_test))

R2:  0.5544220133839383

In [44]:
dt_regressor = DecisionTreeRegressor(max_depth=10)
dt_regressor.fit(X_train, y_train)
print('R2: ', dt_regressor.score(X_test, y_test))

R2:  0.5075482137130283

In [45]:
dt_regressor = DecisionTreeRegressor(max_depth=100)
dt_regressor.fit(X_train, y_train)
print('R2: ', dt_regressor.score(X_test, y_test))

R2:  0.4015181641382508

In [48]:
best_dt_regressor = None
best_r2 = 0
depth = 0

for i in range(1, 100):
  curr_dt_regressor = DecisionTreeRegressor(max_depth=i)
  curr_dt_regressor.fit(X_train, y_train)
  curr_r2 = curr_dt_regressor.score(X_test, y_test)
  if curr_r2 > best_r2:
    best_r2 = curr_r2
    depth = i
    best_dt_regressor = curr_dt_regressor


print("Best R2 score: ", best_r2)
print("Depth param: ", depth)

Best R2 score:  0.5836594544416396
Depth param:  8

In [49]:
y_pred_dt = best_dt_regressor.predict(X_test)

In [50]:
predictions['y_pred_dt'] = y_pred_dt
predictions['error_dt'] = predictions['y_true'] - predictions['y_pred_dt']
predictions

,y_true,y_pred,error,y_pred_poly,error_poly,y_pred_dt,error_dt
4377,7000000,11928377.4,-4928377.4,6450928.8,549071.2,13105701.8,-6105701.8
3639,9000000,19929971.3,-10929971.3,12325536.5,-3325536.5,28128458.5,-19128458.5
2419,3000000,-4211579.3,7211579.3,2541607.6,458392.4,1953295.5,1046704.5
4782,3000000,15896759.3,-12896759.3,19080277.4,-16080277.4,4000000.0,-1000000.0
5101,5000000,8844446.8,-3844446.8,3446390.4,1553609.6,2803438.2,2196561.8
...,...,...,...,...,...,...,...
2475,4000000,7280562.4,-3280562.4,1587332.6,2412667.4,2803438.2,1196561.8
190,80000,-3281444.0,3361444.0,3523872.1,-3443872.1,1279509.4,-1199509.4
3808,20000000,8195730.9,11804269.1,12329372.0,7670628.0,7219053.0,12780947.0
258,1000000,11855960.6,-10855960.6,-140399.2,1140399.2,9990196.1,-8990196.1
215,2000000,6182325.2,-4182325.2,3969497.1,-1969497.1,7123437.5,-5123437.5